@using XFramework.Entity;
@{
    ViewBag.Title = "添加XFramework帮助文章分类"; 
    IList<CategoryEntity> categoryList = Model;
    var index = 0;
}
<h4>添加帮助文章</h4>
<form id="form">
<div class="box">
<span class="item">
    <label>父类编号：</label>
    <span>
        <select id="parent" name="parent">
            <option value="0">请选择父类</option>
            @foreach (var item in categoryList.OrderBy(x => x.OrderID))
            {
                <option value="@item.CategoryID">@item.CategoryName</option>
            }
        </select>
    </span>
</span>
<span class="item">
    <label>分类名称：</label>
    <span>
        <input class="txt" id="txtCategoryName" name="txtCategoryName" />
    </span>
</span>
<span class="item">
    <label>分类描述：</label>
    <span>
        <input class="txt" id="txtCategoryDesc" name="txtCategoryDesc" />
    </span>
</span>
<span class="item">
    <label>排序编号：</label>
    <span>
        <input class="txt40" id="txtOrderID" name="txtOrderID" />
    </span>
</span>
<span class="item">    
    <input type="button" id="btn" value="提交" />
</span>
</div>
</form>
<h4>父类分类列表</h4>
<table id="category" class="category" cellpadding="0" cellspacing="1">
    <tr>
        <td class="hover">序号</td>
        <td class="hover">分类编号</td>
        <td class="hover">分类名称</td>
        <td class="hover">添加时间</td>
    </tr>
    @foreach (var item in categoryList.OrderBy(x => x.OrderID))
    {
        <tr>
            <td>@(++index)</td>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
        </tr>
    }
</table>
    
<h4>选择父类的子类列表</h4>
<table style="display:none;" id="sub" class="category" cellpadding="0" cellspacing="1">
    <tr>
        <td class="hover">序号</td>
        <td class="hover">父类编号</td>
        <td class="hover">分类编号</td>
        <td class="td200 hover">分类名称</td>
        <td class="td200 hover">添加时间</td>
    </tr>
</table>
<script>
    $(function () {
        $('#category tr:gt(0)').hover(function () {
            $(this).children('td').addClass('hover');
        }, function () {
            $(this).children('td').removeClass('hover');
        }).click(function () {
            $(this).children('td').addClass('hover').end()
            .siblings('tr td.hover').removeClass('hover');
            var _category = $(this).children('td:eq(1)').text();

            $('#sub').show();
            $('#sub tr:gt(0)').remove();

            $.ajax({
                type: 'post',
                url: '/home/getcategory',
                data: { 'category': _category },
                success: function (data) {
                    $.each(data, function (i, v) {
                        $('#sub').append('<tr><td>' + (i + 1) + '</td><td>' + v.ParentID + '</td><td>' + v.CategoryID + '</td><td>' + v.CategoryName + '</td><td>' + v.CreateTime + '</td></tr>');
                    });
                    $('#sub tr:gt(0)').hover(function () {
                        $(this).children('td').addClass('hover');
                    }, function () {
                        $(this).children('td').removeClass('hover');
                    });
                }
            });
        });        
        $('#btn').click(function () {
            $.ajax({
                type: 'post',
                url: '/home/category',
                data: $('form').serialize(),
                success: function (str) {
                    alert(str);
                }
            });
        });
    });
</script>
